# Derleme çıktıları
*.o
*.out
*.elf
build/

# Kapsam (coverage) çıktıları
*.gcda
*.gcno
*.gcov

# MacOS özel dosyaları
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Sanal ortam
venv/

# Geçici dosyalar
*.log
*.tmp